img{
    width: 100%;
}

.slide{
    background-position: bottom;
}

.slider-inner{
    width: 400px;
    color: #fff;
    position: relative;
    height: 400px;
}

.button_wrapper{
    position: absolute;
    bottom: 20px;
    width: 100%;
}